body{
    background: radial-gradient(circle, rgba(20,17,17,1) 0%, rgba(31,32,36,1) 94%);
}

nav{
    background: linear-gradient(90deg, rgba(27,56,108,1) 0%, rgba(37,69,129,1) 100%);
    
}
#navbarA1{
    margin-left: 80px;
}

#searcbtn{
    background-color: black;
    color: white;
    margin-right: 80px;
    
}
#searcbtn:hover{
    border: 1px solid blue;
}
.navbarli{
    
}
.navbarli:hover{
    color: blueviolet;
}
.carouselw-h{
    width: 1100px;
    height: 500px;
}
.h3color{
    color: #0c2480;

}
footer{
    background-color: black;
    border-radius: 40px;
}



.footerli{
    color: dimgray;
}


.footerli:hover{
    color: rgb(219, 217, 217);
}
#popülerfilm{
    margin-left: 35px;
    color:rgb(255, 255, 255);
    font-size: 22px;

}
#popülerfilm:hover{
    color: rgb(37,69,129,1);
}
.sidebarcardf{
    margin-right: auto;
}